[defaults]
inventory = ./inventory.ini
host_key_checking = False
deprecation_warnings = False
#stdout_callback = yaml
stdout_callback = default
result_format = yaml
forks = 5
roles_path = ./roles
retry_files_enabled = False
timeout = 30

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
pipelining = True
