[Unit]
Description=Promtail (Loki log collector)
After=network.target

[Service]
Type=simple
ExecStartPre=/bin/mkdir -p /var/lib/promtail
ExecStart=/usr/local/bin/promtail -config.file=/etc/promtail/config.yml
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
